page-login {
  .content {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 100px;
  }

  .frame {
    background-color: #ddd;
    display: inline-block;
    text-align: center;
    min-width: 50%;
    padding: 40px;
    border-radius: 10px;

    a {
      margin-bottom: 20px;

      i {
        font-size: 1.5em;
        margin-right: 10px;
      }
    }
  }

  h2 {
    color: #333;
    margin-bottom: 40px;
  }
}
