app-dashboard {
  ul {
    list-style: none;
    li {
      a {
        display: inline-block;
        text-decoration: none;
        width: 200px;
        text-align: center;
        background: #ddf;
        padding: 10px;

        &:hover {
          background-color: #aaf;
        }

        &:visited {
          color: #333;
        }
      }
    }
  }

  button {
    color: black;
  }
}
