<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span translate="dashboard.title"></span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<h1 translate="dashboard.welcome" [translateParams]="{name: me.nic || me.name}"></h1>

<h2 translate="dashboard.your_races"></h2>
<ul>
  <li *ngFor="let skipper of skippers">
    <a (click)="goToRace(skipper)">{{skipper.race.name}}</a>
  </li>
</ul>

<h2 translate="dashboard.available_races"></h2>
<ul>
  <li *ngFor="let race of races">
    <button type="button" (click)="register(race.id)">{{race.name}}</button>
  </li>
</ul>
</ion-content>
