<div class="mapControl">
  <div class="map">
    <yaga-map
    [zoom]="zoom"
    [maxBounds]="maxBound">
      <yaga-marker [lat]="boatDisplay.skipper.position.lat" [lng]="boatDisplay.skipper.position.lng">
        <yaga-icon [iconUrl]="boatDisplay.getIconUrl()"
                  [iconSize]="boatDisplay.iconSize" 
                  [iconAnchor]="boatDisplay.iconAnchor" 
                  [shadowUrl]="boatDisplay.shadow"
                  [shadowSize]="boatDisplay.shadowSize"
                  [shadowAnchor]="boatDisplay.shadowAnchor">
        </yaga-icon>
      </yaga-marker>
      <yaga-polyline [latLngs]="route">
      </yaga-polyline>
      <yaga-tile-layer *ngFor="let map of maps" [url]="map.url" [opacity]="map.opacity"></yaga-tile-layer>
    </yaga-map>
  </div>
  <ul class="layer-control">
    <li *ngFor="let map of maps">
      <span>{{map.name}}</span>
      <input type="radio" name="layerSelect">
    </li>
  </ul>
</div>