<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
</div>
<nav *ngIf="isConnected">
    <a [routerLink]="['/logs']" *ngIf="admin">
      <i class="fa fa-list" aria-hidden="true"></i>
      <span translate="app.logs"></span>
    </a>
    <a [routerLink]="['/dashboard']" >
      <i class="fa fa-tachometer" aria-hidden="true"></i>
      <span translate="app.dashboard"></span>
    </a>
    <a [routerLink]="['/me']" >
      <i class="fa fa-id-card-o" aria-hidden="true"></i>
      <span translate="app.me"></span>
    </a>
    <button type="button" (click)="disconnect()" >
      <i class="fa fa-user" aria-hidden="true"></i>
      <span translate="app.disconnect"></span>
    </button>
    <select (change)="changeLang($event.target.value)">
      <option value="en" translate="en"></option>
      <option value="fr" translate="fr"></option>
    </select>
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
