<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
</div>
<nav *ngIf="isConnected">
    <button type="button" (click)="disconnect()" >
      <i class="fa fa-user" aria-hidden="true"></i>
      <span translate="app_disconnect"></span>
    </button>
    <select (change)="changeLang($event.target.value)">
      <option value="en">{{ 'en' | translate }}</option>
      <option value="fr">{{ 'fr' | translate }}</option>
    </select>
</nav>
<router-outlet></router-outlet>

