a {
    display: inline-block;
    padding: 10px;
    margin: 5px 5px 5px 0;
    background-color: #ddd;
    text-decoration: none;
    color: #333;
    font-size: 0.9em;

    &:hover {
        background-color: #aaa;
    }

    &:visited {
        color: #333;
    }
}