<h1 translate="admin.overview.title"></h1>
<nav class="admin">
    <a [routerLink]="['/admin']">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        <span translate="app.back"></span>
    </a>
</nav>

<div class="row">
    <div class="col-md-6">
        <div class="map">
            <yaga-map
            [(zoom)]="zoom"
            [(maxBounds)]="maxBound"
            maxZoom="15"
            minZoom="2"
            (click)="pointSelected($event)"
            #mainMap>
              <yaga-tile-layer [url]="tileUrl" #mainLayer></yaga-tile-layer>
            </yaga-map>
          </div>
    </div>
</div>

