<h1 translate="admin.overview.title"></h1>
<nav>
    <a [routerLink]="['/admin']">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        <span translate="app.back"></span>
    </a>
</nav>

<div class="row">
    <div class="col-md-6">
        <div class="map">
            <yaga-map
            [(zoom)]="zoom"
            [(maxBounds)]="maxBound"
            maxZoom="15"
            minZoom="2"
            (click)="pointSelected($event)"
            #mainMap>
              <yaga-tile-layer [url]="tileUrl" #mainLayer></yaga-tile-layer>
            </yaga-map>
          </div>
    </div>
    <div class="col-md-6">
        <form name="RaceCreate" (ngSubmit)="saveRace()">
            <div class="form-group">
                <label translate="admin.overview.name_label" for="name"></label>
                <input type="string" class="form-control" name="name" [(ngModel)]="race.name" [disabled]="saving" required>
            </div>
            <div class="form-group">
                <label translate="admin.overview.boat_label" for="boat"></label>
                <sui-select class="selection form-control"
                            name="boat"
                            [(ngModel)]="race.allowedBoat"
                            labelField="name"
                            [disabled]="saving"
                            required
                            #searchSelect>
                    <sui-select-option *ngFor="let boatElt of boats" [value]="boatElt"></sui-select-option>
                </sui-select>
            </div>
            <div class="form-group">
                <label translate="admin.overview.date_start_label" for="dateStart"></label>
                <input suiDatepicker
                    name="dateStart"
                    class="form-control"
                    [(ngModel)]="race.dateStart"
                    pickerMode="datetime"
                    pickerFirstDayOfWeek="1"
                    required
                    [disabled]="saving"
                    [pickerUseNativeOnMobile]="false">
            </div>
            <div class="form-group">
                <label translate="admin.overview.date_end_label" for="dateEnd"></label>
                <input suiDatepicker
                    name="dateEnd"
                    class="form-control"
                    [(ngModel)]="race.dateEnd"
                    pickerMode="datetime"
                    pickerFirstDayOfWeek="1"
                    required
                    [disabled]="saving"
                    [pickerUseNativeOnMobile]="false">
            </div>
            <div class="form-group">
                <label class="form-check-inline">
                    <span translate="admin.overview.start_label"></span>
                    <input class="form-check-input" type="radio" name="mode" [value]="false" [(ngModel)]="finishMarkerSelected">
                </label>
                <label class="form-check-inline">
                    <span translate="admin.overview.finish_label"></span>
                    <input class="form-check-input" type="radio" name="mode" [value]="true" [(ngModel)]="finishMarkerSelected">
                </label>
            </div>
            <div class="form-group">
                <label translate="admin.overview.ray_label" for="ray"></label>
                <input type="number" class="form-control" name="ray" [(ngModel)]="race.endRayKm" [disabled]="saving" required>
            </div>

            <button type="submit" class="btn btn-default">
                <span translate="admin.overview.submit"></span>
            </button>
            
        </form>
    </div>
</div>

