<div class="mapControl">
  <div class="map">
    <yaga-map
    [(zoom)]="zoom"
    [(maxBounds)]="maxBound"
    (zoomstart)="resetWind($event)"
    (move)="resetWind($event)"
    maxZoom="15"
    minZoom="2"
    #mainMap>
      <!--<yaga-marker [lat]="boatDisplay.skipper.position.lat" [lng]="boatDisplay.skipper.position.lng">
        <yaga-icon [iconUrl]="boatDisplay.getIconUrl()"
                  [iconSize]="boatDisplay.iconSize" 
                  [iconAnchor]="boatDisplay.iconAnchor" 
                  [shadowUrl]="boatDisplay.shadow"
                  [shadowSize]="boatDisplay.shadowSize"
                  [shadowAnchor]="boatDisplay.shadowAnchor">
        </yaga-icon>
      </yaga-marker>-->
      <yaga-polyline [latLngs]="route">
      </yaga-polyline>
      <!--<yaga-tile-layer *ngFor="let map of maps" [url]="map.url" [opacity]="map.opacity"></yaga-tile-layer>-->
      <yaga-tile-layer [url]="currentMap.url" #mainLayer></yaga-tile-layer>
    </yaga-map>
  </div>
  <ul class="layer-control">
    <li *ngFor="let map of maps; let idx = index">
      <input type="radio" id="map{{idx}}" name="layerSelect" [checked]="idx === 0" [value]="map" (change)="onSelectionChange(map)">
      <label for="map{{idx}}">{{map.name}}</label>
    </li>
  </ul>
</div>