app-skipper {
  .boat-control {
    display: inline-block;

    .pos {
      display: inline-block;
      vertical-align: top;
      span {
        display: block;

        &.lat:before {
          content: "S ";
          font-weight: bold;
        }

        &.lng:before {
          content: "W ";
          font-weight: bold;
        }

        &.lat:after, &.lng:after {
          content: "°";
          font-weight: bold;
        }

      }
    }

    div.control-item {
      margin: 5px 0 5px 0;

      label {
        min-width: 60px;
      }
    }

  }

  div.boat-computer, div.bearing, div.map {
    border: solid 2px #263B48;
    padding: 15px;
    border-radius: 15px;
    margin: 5px;
  }

  div.boat-computer, div.bearing {
    display: block;
  }

  div.map {
    display: inline-block;
    vertical-align: top;
  }

  .digi {
    font-family: 'DSDIGI';
    font-size: 1.5em;
    color: green;

    &.temporary {
      color: red;
    }
  }

  .sail-selector {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    width: 268px;
    border-radius: 5px;
    background-color: #263b48;
    color: #fff;
    margin: 0 0 5px 0;
  }

}
