<div class="row">
    <div class="col-md-6  col-sm-12">
        <form name="meForm" (ngSubmit)="saveUser()">
            <div class="form-group">
                <label for="email" translate="me.email_label"></label>
                <input type="email" class="form-control" name="email" readonly [(ngModel)]="me.email">
            </div>
            <div class="form-group">
                <label for="name" translate="me.name_label"></label>
                <input type="string" class="form-control" name="name" readonly [(ngModel)]="me.name">
            </div>
            <div class="form-group">
                <label for="nic" translate="me.nic_label"></label>
                <input type="string" class="form-control" name="nic" [(ngModel)]="me.nic" [disabled]="saving">
            </div>
            <button type="submit" class="btn btn-default">
                <span translate="me.submit"></span>
            </button>
        </form>
    </div>
    <div class="col-md-6  col-sm-12">
        <h2 translate="me.friend_title"></h2>
        <div *ngFor="let friend of friends">
            <span *ngIf="friend.nic">{{friend.nic}} ({{friend.name}})</span>
            <span *ngIf="!friend.nic">{{friend.name}}</span>
        </div>
        <form name="friendForm">
            <div class="form-group">
                <label translate="me.friend_label" for="friend"></label>
                <sui-select class="selection form-control"
                            name="friend"
                            [(ngModel)]="selectedFriend"
                            [isSearchable]="true"
                            labelField="name"
                            [optionsLookup]="refreshFriendSearch"
                            #searchSelect>
                    <sui-select-option *ngFor="let player of searchSelect.filteredOptions" [value]="player"></sui-select-option>
                </sui-select>
            </div>
        </form>
        <div *ngIf="selectedFriend.id">
            <h3 *ngIf="selectedFriend.nic">{{selectedFriend.nic}} ({{selectedFriend.name}})</h3>
            <h3 *ngIf="!selectedFriend.nic">{{selectedFriend.name}}</h3>
            <button type="button" class="btn btn-primary" translate="me.add_friend" (click)="addFriend(selectedFriend)"></button>
        </div>
    </div>
</div>