<div class="row">
    <div class="col-md-6">
        <form name="meForm" (ngSubmit)="saveUser()">
            <div class="form-group">
                <label for="email" translate="me.email_label"></label>
                <input type="email" class="form-control" name="email" readonly [(ngModel)]="me.email">
            </div>
            <div class="form-group">
                <label for="name" translate="me.name_label"></label>
                <input type="string" class="form-control" name="name" readonly [(ngModel)]="me.name">
            </div>
            <div class="form-group">
                <label for="nic" translate="me.nic_label"></label>
                <input type="string" class="form-control" name="nic" [(ngModel)]="me.nic" [disabled]="saving">
            </div>
            <button type="submit" class="btn btn-default">
                <span translate="me.submit"></span>
            </button>
        </form>
    </div>
</div>