<div class="row">
    <div class="col-md-6  col-sm-12">
        <form name="meForm" (ngSubmit)="saveUser()">
            <div class="form-group">
                <label for="email" translate="me.email_label"></label>
                <input type="email" class="form-control" name="email" readonly [(ngModel)]="me.email">
            </div>
            <div class="form-group">
                <label for="name" translate="me.name_label"></label>
                <input type="string" class="form-control" name="name" readonly [(ngModel)]="me.name">
            </div>
            <div class="form-group">
                <label for="nic" translate="me.nic_label"></label>
                <input type="string" class="form-control" name="nic" [(ngModel)]="me.nic" [disabled]="saving">
            </div>
            <button type="submit" class="btn btn-default">
                <span translate="me.submit"></span>
            </button>
        </form>
    </div>
    <div class="col-md-6  col-sm-12">
        <form name="friendForm">
            <div class="form-group">
                <label translate="me.friend_label" for="friend"></label>
                <sui-select class="selection"
                            name="friend"
                            [(ngModel)]="friend"
                            [isSearchable]="true"
                            [optionsLookup]="refreshFriendSearch">
                    <sui-select-option *ngFor="let player of players" value="player.id"></sui-select-option>
                </sui-select>
                <!--<sui-select
                    placeholder="{{ 'me.search_placeholder' | translate }}"
                    [(ngModel)]="friend"
                    [options]="{'fullTextSearch': true}"
                    [isSearchable]="true"
                    (ngModelChange)="reloadPlayer($event)">
                    <option *ngFor="let player of players" value="{{player.id}}">{{player.name}}</option>
                </sui-select>-->
            </div>
        </form>
    </div>
</div>